@using LycanTally.Core.Entities

@model LycanTally.Web.Models.ArticlesVM

<style type="text/css">
    .quote {
        border: 1px solid rgb(221, 221, 221);
        margin-left: 15px;
        padding: 5px;
        background-color: rgb(250, 250, 250);
    }
    .panel-success > .panel-footer {
        color: #3c763d; 
        background-color: #f0f8ed;
        border-color: #d6e9c6;
    }
    .panel-danger > .panel-footer {
        color: #a94442;
        background-color: #f8eded;
        border-color: #ebccd1
    }
</style>

@foreach (Article article in Model.Articles)
{
    <div class="row">
        <div class="col-xs-3 col-sm-2">
            <p class="text-center">@Html.Raw(article.User.Name)</p>
            <img src="@article.User.AvatarLink" class="img-responsive center-block img-rounded" />
        </div>
        <div class="col-xs-9 col-sm-10">
            <div class="panel panel-@(article.User.User_Thread_Roles?.FirstOrDefault(utr => utr.ThreadID == article.ThreadID)?.Role.Alignment.Class ?? "default")">
                <div class="panel-heading">
                    @(article.User.User_Thread_Roles?.FirstOrDefault(utr => utr.ThreadID == article.ThreadID)?.Role.Name ?? "Uknown Role")
                </div>
                <div class="panel-body">
                    @Html.Raw(article.Body)
                    <div class="col-xs-12" style="height:10px;"></div>
                </div>
                <div class="panel-footer">
                    <a href="@article.Link" target="_blank">
                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                    </a>
                    Posted on 
                    @TimeZoneInfo.ConvertTimeFromUtc(article.PostDate, 
                                                     TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time")
                                                     ).ToString("ddd MMM d, yyyy h:mm tt")
                </div>
            </div>
        </div>
    </div>
}