@using LycanTally.Web.Models;

@model ThreadViewerVM

@{
    ViewBag.Title = "Thread Viewer";
}

@section scripts {

    <style type="text/css">
        .body-content {
            margin-top: 71px;
        }

        .form-inline > * {
           margin:5px 3px;
        }

        .slider-selection {
            background: #e6e6e6;
        }

        .quote {
            border: 1px solid rgb(221, 221, 221);
            margin-left: 15px;
            padding: 5px;
            background-color: rgb(250, 250, 250);
        }
    </style>

    <script type="text/javascript">
        var getArticlesURL = '@Url.Action("GetArticles","ThreadViewer")';
        var totalDays = @Model.totalDays;
    </script>

    @Styles.Render("~/Content/bootstrap-select.min.css")
    @Styles.Render("~/Content/bootstrap-slider.min.css")

    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/bootstrap-slider.min.js")

    @Scripts.Render("~/Scripts/ThreadViewer/threadViewer.js")
}

@section NavbarAddons {
    <div class="navbar navbar-default navbar-fixed-top" style="top: 51px;">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-md-8 col-lg-7">
                        <form class="form-inline">
                            @Html.HiddenFor(m => m.ThreadID)
                            <div class="form-group">
                                <select id="userFilter" class="selectpicker show-menu-arrow" multiple title="Filter users..."
                                        data-selected-text-format="count > 3" data-count-selected-text="{0} users selected">
                                    @foreach (UserItemVM item in Model.userItems)
                                    {
                                        <option data-content="<div style='width:40px; float:left;'><span class='badge'>@item.numArticles</span></div><div>@item.userName</div>" title="@item.userName">@item.userName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <b>0</b> &nbsp;
                                <input id="dayFilter" type="text" data-slider-step="1" />
                                &nbsp; <b>@Model.totalDays</b>
                            </div>
                            <div class="form-group">
                                <button id="applyFilter" type="button" class="btn btn-primary">Get Posts</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-lg-5">
                        <h4 class="truncate">@Model.Thread.Subject</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<div>
    
</div>

<div id="articleContainer">

</div>